
@media print {
    .tab-content>.tab-pane {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        page-break-inside: avoid;
    }
    body {
        background-color: transparent !important;
        font-size: x-large;
    }
    .nav, footer {
        display: none !important;
    }
    article.col-sm-3.pt-4 {
        background: rgb(214,231,250);
        background: linear-gradient(180deg, rgba(214,231,250,1) 0%, rgba(255,255,255,1) 60%);
        }

    img#img-profil{
        height: 250px;
        width: 250px;
    }
    img#img-sites{
        height: 150px;
    }

    main.container.mb-4.pb-4{
        min-width: 100% !important;
    }
}